<div class="text-layout">
    <!-- Esa clase la definimos en el css, es propia -->
    <h1>Pipes básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en Common Module, estos Pipes
        NO MODIFICAN al valor de la variable, solo lo transforman visualmente </p>
</div>

<div class="text-layout">

    <div class="p-grid">
        <div class="p-col-4">
            <p-card header="uppercase" [subheader]="cDefinicionUpper | uppercase">
                <p>Valor: "{{cDefinicionUpper}}";<br> Código:</p>
                <code> [subheader] = "cDefinicionUpper | uppercase" </code>
            </p-card>
        </div>
        <div class="p-col-4">
            <p-card header="lowercase" [subheader]="cDefinicionLower | lowercase">
                <p>Valor: "{{cDefinicionLower}}";<br> Código:</p>
                <code> [subheader] = "cDefinicionLower | lowercase" </code>
            </p-card>
        </div>
        <div class="p-col-4">
            <p-card header="tittlecase" [subheader]="cDefinicionTittle | titlecase">
                <p>Valor: "{{cDefinicionTittle}}";<br> Código:</p>
                <code> [subheader] = "cDefinicionTittle | titlecase" </code>
            </p-card>
        </div>
    </div>
</div>

<div class="text-layout">
    <!-- Esa clase la definimos en el css, es propia -->
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipes para dar formato a fecha considerando la declaracion: <strong>
        <code>fecha: Date = new Date();</code>
    </strong></p>

    <div class="p-grid">
        <div class="p-col-6">
            <p-card >
                <ul>
                    <li>Fecha:</li>
                    <li><code>Fecha | date</code></li>
                    <li><code>Fecha | date: 'short'</code></li>
                    <li>Personalizada: <code>Fecha | date: 'cccc dd/MMMM/YYYY h:mm a'</code></li>
                </ul>
                <hr>
                <ul>
                    <li><code>Fecha en los cabos </code> <strong>(fecha | date: 'long':'GMT-7')</strong></li>
                    <li><code>Fecha en Cozumel</code></li>
                    <li><code>fecha | date: 'long':'':'fr'</code></li>
                </ul>
            </p-card>
        </div>
        <div class="p-col-6">
            <p-card >
                <ul>
                    <li>{{fecha}}</li>
                    <li>{{fecha | date}}</li>
                    <li>{{fecha | date: 'short'}}</li>
                    <li>{{fecha | date: 'cccc dd/MMMM/YYYY h:mm a'}}</li>
                </ul>   
                <hr>
                <ul>
                    <li>{{fecha | date: 'long':'GMT-7'}}</li>
                    <li>{{fecha | date: 'long':'GMT-5'}}</li>
                    <li>{{fecha | date: 'long':'':'fr'}}</li> <!-- frances -->
                </ul>
            </p-card>
        </div>
    </div>
</div>